{% extends 'base/base.html' %}
{% load static %}
{% block main_container %}
{% if request.user.rol == 0 %}
		<!-- Vista para Doctor -->
		{% include 'gestion_usuarios/gestion_paciente_doctor.html' %}
	{% elif request.user.rol == 1 %}
		<!-- Vista para Laboratorista -->
		{% include 'gestion_usuarios/gestion_paciente_laboratorista.html' %}
	{% else %}
		<center>
			<h1>Nada que ver...</h1>
		</center>
	{% endif %}

{% endblock %}

{% block extra_js %}
<script src="{% static '/js/paciente.js' %}"></script>
{% endblock %}