{% extends 'base/base.html' %}

{% load static %}
{% block extra_header %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<!-- Start Carousel -->
	<div class="carousel-inner" role="listbox">
			<div class="carousel-caption d-none d-md-block carousel-message">

			{% if request.user.rol == 0 %}
			<!-- Vista para Admin -->
			<h3>{{request.user.first_name}}&nbsp;{{request.user.last_name}}</h3>
			<p class="float-right p-carousel">&#8212;&nbsp;Doctor</p>
			{% elif request.user.rol == 1 %}
			<!-- Vista para Técnico -->
			<h3>{{request.user.first_name}}&nbsp;{{request.user.last_name}}</h3>
			<p class="float-right p-carousel">&#8212;&nbsp;Laboratorista</p>
			{% elif request.user.rol == 2 %}
			<!-- Vista para Cliente -->
			<h3>{{request.user.first_name}}&nbsp;{{request.user.last_name}}</h3>
			<p class="float-right p-carousel">&#8212;&nbsp;MINSAL</p>
			{% else %}
			<!-- Vista para Visitante -->
			<h2 class="animated infinite bounce pulse">COVID SV</h2>
			{% endif %}


		</div>

		<!-- Slide One - Set the background image for this slide in the line below -->
		<div class="carousel-item active" style="background-image: url({% static 'img/carousel/c1.jpg' %})">
		</div>

		<!-- Slide Two - Set the background image for this slide in the line below -->
		<div class="carousel-item" style="background-image: url({% static 'img/carousel/c2.jpg' %})">
		</div>

		<!-- Slide Three - Set the background image for this slide in the line below -->
		<div class="carousel-item" style="background-image: url({% static 'img/carousel/c3.jpg' %})">
		</div>

	</div>
</div> <!-- End Carousel -->
{% endblock %}
{% block main_container %}
<script src="{% static '/js/graficos/graficos.js' %}"></script>



	
<!-- Vista para un anonimo -->
	{% if request.user.rol == 0 %}
		<!-- Vista para Doctor -->
		<center>
			<h1>
				Hola doctor, en que podemos ayudarle?
			</h1>
		</center>
		{% include 'index_doctor.html' %}
	{% elif request.user.rol == 1 %}
		<!-- Vista para Laboratorista -->
		<center>
			<h1>
				Hola Laboratorista, En que puedo ayudarte?
			</h1>
		</center>
		{% include 'index_laboratoristas.html' %}

	{% elif request.user.rol == 2 %}
		<!-- Vista para MINSAL -->
		{% include 'graficas.html' %}
	{% else %}
		<!-- Vista para Visitante -->
			<h2 class="animated pulse" style="color: blue;">¡Somos tu mejor opción en todo lo que respecta a pruebas de COVID-19!</h2>
			<center>
				<h1>Trabajando en el desarrollo del sitio...</h1>
			</center>
	{% endif %}

<!-- Muestra mensaje de error -->
{% if messages %}
<div class="modal fade" id="mostrarmodal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3>Error al iniciar sesión</h3>
			</div>
			{% for message in messages %}
			<div class="modal-body">
				<h4 {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</h4>
			</div>
			{% endfor %}
			<div class="modal-footer">
				<a href="#" data-dismiss="modal" class="btn btn-danger">Cerrar</a>
			</div>
		</div>
	</div>
</div>
{% endif %}
<script>
	$(document).ready(function()
	{
	   $("#mostrarmodal").modal("show");
	});
 </script>
 <!-- Fin del mensaje de error -->


<!-- Vista para Visitante -->

<div id="mySidenav" class="sidenav text-center">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	{% include 'users/login.html' %}
</div>
{% endblock %}
<!-- Modal -->


{% block extra_js %}
<script src="{% static 'js/side.js' %}"></script>
{% endblock %}