<div class="col-md-11 m-2 py-3 px-4">

	<h3></h3>

	<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Registrar nueva visita</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					
				</div>
			</div>
		</div>
	</div>

	<div class="row mt-4 justify-content-md-between">

		<a href="{% url 'gestion_paciente' %}" class="card-link">
			<div class="card-index border-success col-sm-4">
				<div class="card-body">
					<h4 class="card-title">Registrar Paciente</h4>
					<div class="row">
						<p class="card-text col-sm-10 text-justify">Registre un paciente y su respectiva prueba de COVID-19.
						</p>
						<i class="fas fa-medkit fa-3x"></i>
					</div>
				</div>
			</div>
		</a>
		
	</div>

</div>