<div class="col-md-11 m-2 py-3 px-4">

	<h3>¿Que deseas hacer hoy?</h3>

	<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Registrar nueva visita</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					
				</div>
			</div>
		</div>
	</div>

	<div class="row mt-4 justify-content-md-between">

		<a href="{% url 'gestion_laboratorista' %}" class="card-link">
			<div class="card-index border-success col-sm-4">
				<div class="card-body">
					<h4 class="card-title">Gesti&oacute;n de Laboratoristas</h4>
					<div class="row">
						<p class="card-text col-sm-10 text-justify">Gestione a los Laboratoristas registrados en su labotatorio.
						</p>
						<i class="fas fa-medkit fa-3x"></i>
					</div>
				</div>
			</div>
		</a>
		<a href="{% url 'gestion_minsal' %}" class="card-link">
			<div class="card-index border-success col-sm-4">
				<div class="card-body">
					<h4 class="card-title">Gesti&oacute;n de MINSAL</h4>
					<div class="row">
						<p class="card-text col-sm-10 text-justify">Gestione usuarios de El Ministerio de Salud.</p>
						<i class="fas fa-stethoscope fa-3x"></i>
					</div>
				</div>
			</div>
		</a>
		<a href="{% url 'graficas' %}" class="card-link">
			<div class="card-index border-success col-sm-4">
				<div class="card-body">
					<h4 class="card-title">Estadisticas</h4>
					<div class="row">
						<p class="card-text col-sm-10 text-justify">Revisa las estadisticas en base a las pruebas realizadas.</p>
						<i class="fas fa-window-restore fa-3x"></i>
					</div>
				</div>
			</div>
		</a>
	</div>

	<div class="row mt-4 justify-content-md-between">
		<a href="{% url 'gestion_paciente' %}" class="card-link">
			<div class="card-index border-success col-sm-4">
				<div class="card-body">
					<h4 class="card-title">Expedientes de Pacientes</h4>
					<div class="row">
						<p class="card-text col-sm-10 text-justify">Gestione los expedientes de cada paciente.</p>
						<i class="fas fa-heart fa-3x"></i>
					</div>
				</div>
			</div>
		</a>
		<a href="{% url 'caso_sospechoso' %}" class="card-link">
			<div class="card-index border-success col-sm-4">
				<div class="card-body">
					<h4 class="card-title">Gesti&oacute;n de Nexos</h4>
					<div class="row">
						<p class="card-text col-sm-10 text-justify">Podras administrar Nexos epidemeologicos por cada paciente. </p>
						<i class="fas fa-heartbeat fa-3x"></i>
					</div>
				</div>
			</div>
		</a>
		<a href="https://news.google.com/covid19/map?hl=es-419&gl=US&ceid=US:es-419" class="card-link">
			<div class="card-index border-success col-sm-4">
				<div class="card-body">
					<h4 class="card-title">COVID-19 en El Mundo</h4>
					<div class="row">
						<p class="card-text col-sm-10 text-justify">Observer el avance de El Virus en El Mundo (Google Covid Map).
						</p>
						<i class="fas fa-map-marker fa-3x"></i>
					</div>
				</div>
			</div>
		</a>
		
	</div>

</div>